@font-face {
  font-family: 'therma-black';
  src: url(assets/ASTherma-BlackCondensed-webfont.woff) format('woff');
}
@font-face {
  font-family: 'therma-bold';
  src: url(assets/ASTherma-BoldCondensed-webfont.woff) format('woff');
}
@font-face {
  font-family: 'therma-medium';
  src: url(assets/ASTherma-MediumCondensed-webfont.woff) format('woff');
}
@font-face {
  font-family: 'therma-light';
  src: url(assets/ASTherma-LightCondensed-webfont.woff) format('woff');
}
.desktop-hide {
  display: none;
}
.will-headshot {
  width: 46%;
  display: inline;
  grid-area: will-headshot;
  margin: auto;
}
.about-header {
  grid-area: about-header;
}

#about-grid-container {
  display: grid;
  grid-template-areas:
    'about-header about-header about-paragraph'
    'will-headshot will-headshot about-paragraph';
  margin: 0 100px;
  width: 100%;
}
h3 {
  font-family: 'therma-medium' !important;
  font-size: 60px;
}
.board {
  margin: 0 auto;
  /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

p.narrow {
  text-align: justify;
}
body {
  width: 100vw;
}
:is(vimeo-embed, youtube-embed, vimeo-embed-private) {
  aspect-ratio: 16 / 9;
  border-radius: var(--video-embed-bdrs, 0.25em);
  display: grid;
  inline-size: 100%;
  position: relative;
}
:is(vimeo-embed, youtube-embed, vimeo-embed-private) :is(iframe, img) {
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  inline-size: 100%;
  inset: 0;
  object-fit: cover;
  position: absolute;
}
.video-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  a {
    border-bottom: 18px solid transparent;
    border-left: 22px solid #000;
    border-top: 18px solid transparent;
    box-sizing: border-box;
    height: 26px;
    margin: -13px 0 0 -11px;
    left: 50%;
    position: absolute;
    text-indent: -999em;
    top: 50%;
    width: 22px;

    &:hover {
      border-left-color: #f00;
    }
  }

  img {
    display: block;
  }

  iframe,
  object,
  embed,
  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
:is(vimeo-embed, youtube-embed, vimeo-embed-private) button {
  background-color: var(--button-bgc, rgb(0, 0, 0));
  block-size: var(--button-h, 50px);
  border: 0;
  border-radius: var(--button-bdrs, 14%);
  display: grid;
  inline-size: var(--button-w, 75px);
  opacity: var(--button-op, 0.8);
  position: absolute;
  place-self: center;
  transition: all 0.2s ease-in;
}
:is(vimeo-embed, youtube-embed, vimeo-embed-private) button::before {
  aspect-ratio: 1;
  background: #fff;
  block-size: 1.5em;
  clip-path: polygon(20% 0%, 20% 100%, 100% 50%);
  content: '';
  place-self: center;
}
:is(vimeo-embed-private) iframe:not([src='']) + button {
  display: none;
}
/*
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FF00FF;
    cursor: default;
    /* background-color: #ffffff; */
/*  border: 0;
    border-bottom-color: transparent;
}
*/
h1 {
  font-family: 'therma-black';
  font-size: 200px;
  text-align: center;
  margin-bottom: -50px;
}
span.round-tabs {
  width: 160px;
  height: 160px;
  line-height: 70px;
  display: inline-block;
  /*background: white;*/
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
.star-gif {
  width: 160px;
}

/* taking care of responsive layout */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  overflow: auto;
}

.single-video {
  width: 25%;
  flex-grow: 1;
  margin: 0.5rem;
}
.about-p {
  background-color: #d6bb9b;
}

/* taking care of the video aspect-ratio */
figure {
  position: relative;
  padding: 0 0 56.25% 0;
}

figure iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*
li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}*/

/*
li.active span.round-tabs.two{
    background: #FF00FF !important;
    border: 2px solid #ddd;
    color: #febe29;
}



li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}
*/
/*
li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}


li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;


.nav-tabs > li.active > a span.round-tabs{
    background: #FF00FF;
}*/

h2 {
  font-family: 'therma-bold';
  color: black;
  font-size: 40px;
}

p {
  font-family: 'Helvetica';
  font-size: 20px;
  font-weight: 200;
}

h2:hover {
  font-family: 'therma-bold';
  color: #e1e183;
  font-size: 40px;
}
.nav-tabs > li {
  width: 16.6666667%;
}
body {
  margin: 0px;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
  content: ' ';
  position: absolute;
  left: 45%; /*!!!*/
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  /*border-bottom-color: #ddd;*/
  transition: 0.1s ease-in-out;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs > li.active > a {
  border: none !important;
}

.contact-links {
  font-family: 'therma-bold';
  font-size: 50px;
  color: #000;
}
.contact-list {
  list-style: none;
}

.contact-li a {
  background-color: #eab4ec;
  color: #000;
}
.contact-li a:hover {
  background-color: #fff;
  color: #000;
}
.nav-tabs > li a /*these are the anchors that the icons represent */ {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-width: 0px;
  padding: 0;
  border: none;
}

.nav-tabs > li a:hover {
  background: transparent;
}
.tab-pane {
  position: relative;
  padding-top: 75px;
}
.tab-content .head {
  font-family: 'therma-medium' !important;
  font-size: 90px;
}
.video-header {
  grid-area: video-header;
  margin: auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.container {
  width: 95%;
}

P {
  padding: 5px;
}
.video-p {
  background-color: #97dbf0;
}
.audio-p {
  background-color: #e1e183;
}
.headshot-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}
span.h1-text {
  flex-shrink: 0;
  display: flex;
  gap: var(--gap);
  animation: scroll 10s linear infinite;

  font-family: 'therma-black';
  font-size: 100px;
  text-align: center;
}

@media (max-width: 1000px) {
  .star-gif {
    width: 75px;
  }
  .nav-tabs > li a {
    width: 75px;
    height: 75px;
  }
  span.round-tabs {
    font-size: 16px;
    width: 75px;
    height: 75px;
    line-height: 50px;
  }
  span.h1-text {
    font-size: 50px;
  }
  .tab-pane {
    padding-top: 40px;
  }
}

@media (max-width: 600px) {
  .desktop-hide {
    display: flex;
  }
  span.h1-text {
    font-size: 100px;
  }
  .nav-tabs > li {
    width: 33.3334%;
  }
  .single-video {
    width: 100%;
    flex-grow: 1;
    margin: 0.5rem;
  }
  .contact-links {
    font-size: 40px;
  }
  .will-headshot {
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  .mobile-hide {
    display: none;
  }
  .demo-reel-video {
    width: 0px;
    height: 0px;
  }
  .headshot-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .tab-pane {
    padding-top: 0px;
  }
  .board {
    width: 90%;
    height: auto !important;
  }
  span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head {
    font-size: 20px;
  }
  .nav-tabs > li a {
    width: 90px;
    height: 150px;
  }

  .nav-tabs > li.active:after {
    content: ' ';
    position: absolute;
    left: 35%;
  }
}
